<article class="h-entry post">
	<header class="post-header">
    {{ with .Params.image }}
      <img class="u-featured" src="{{ . }}"></img>
    {{ end }}
		<h2 class="p-name post-title"><a href="{{ .URL }}">{{  .Params.location_name  }}</a></h2>
	</header>
	<section class="e-content post-content">
		<a href="{{ .Permalink }}" class="u-url read-more"><span class="dt-published" datetime="{{ .Date.Format "2006-01-02T15:04:05-0700" }}">{{ .Date.Format "03:04 PM" }} ▸</span></a>
     <div class="summary-container">

  {{ if .Params.location_latitude }}

  <div class="map-thumbnail">
          <a href="link/to/your/image.jpg" target="_blank">


                <img src="https://api.mapbox.com/styles/v1/mapbox/streets-v12/static/pin-s+555555({{ .Params.location_longitude}},{{ .Params.location_latitude }})/{{ .Params.location_longitude}},{{ .Params.location_latitude }},11,0/150x150?access_token=pk.eyJ1IjoiamFwbHVtZXkiLCJhIjoiY2xzbnVmMDM0MDgyMTJrb3d1ZmE5NzcyaiJ9.szHKl7q0euanRJIjA02m4w" width="150" height="150" alt="">
          </a>
      </div>
  {{ end }}

    <div class="summary-text">
        {{ .Content }}
    </div>
</div>


	</section>
	<footer class="post-meta">
	</footer>
</article>