<article class="h-entry post">
	<header class="post-header">
    {{ with .Params.image }}
      <img class="u-featured" src="{{ . }}"></img>
    {{ end }}
		<h2 class="p-name post-title"><a href="{{ .URL }}">{{ .Title }}</a></h2>
	</header>
	<section class="p-summary post-excerpt">
    <p>
<div class="summary-container">

  {{ if .Params.location_latitude }}

  <div class="map-thumbnail">
          <a href="link/to/your/image.jpg" target="_blank">


                <img src="https://api.mapbox.com/styles/v1/mapbox/streets-v12/static/pin-s+555555({{ .Params.location_longitude}},{{ .Params.location_latitude }})/{{ .Params.location_longitude}},{{ .Params.location_latitude }},11,0/300x300?access_token=pk.eyJ1IjoiamFwbHVtZXkiLCJhIjoiY2xzbnVmMDM0MDgyMTJrb3d1ZmE5NzcyaiJ9.szHKl7q0euanRJIjA02m4w" width="100" height="100" alt="">
          </a>
      </div>
  {{ end }}

    <div class="summary-text">
        {{ .Content }}
    </div>
</div>

     </p>
	</section>
	<footer class="post-meta">
	<a class="read-more u-url" href="{{ .URL }}"><time class="post-date">{{ .Date.Format (.Site.Params.dateFormatToUse | default "January 02, 2006")  }}</time></a>
	</footer>
</article>
