<footer class="site-footer">
  <section class="rss"><a class="subscribe-button icon-feed" href="/feed.xml"></a></section>
  {{ with .Site.Params.twitter }}<section class="twitter"><a class="icon-twitter" href="https://twitter.com/{{ . }}"> {{ . }}</a></section>{{ end }}
  {{ with .Site.Params.facebook }}<section class="facebook"><a class="icon-facebook" href="https://www.facebook.com/{{ . }}"> {{ . }}</a></section>{{ end }}
  <section class="copyright">© {{ now.Format "2006" }} {{ .Site.Title }}</section>
</footer>
<div class="h-card vcard" style="display:none;">
    <img class="u-photo" src="https://2.gravatar.com/avatar/974dccbf118a9ee9846f4e9f16273ddd" />
    <a class="u-url p-author p-name url" href="https://www.amitgawande.com" rel="me">Amit Gawande</a>
    <a class="u-email" href="mailto:amit.w.gawande@gmail.com" rel="me">amit.w.gawande</a>
	<p class="p-note">Software Engineer and Writer</p>
</div>
<!-- custom js -->
{{ range .Site.Params.customJS }}
  <script src="{{ "/js/" | relURL }}{{ . }}"></script>
{{ end }}
